{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/complaint_delete.css' %}">

{% block body_block %}
    <div class="container mt-5">
        <h1 class="text-danger">Are you sure you want to delete the complaint: <em>{{ complaint.title }}</em>?</h1>

        <form method="post" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url "mainapp:complaint_detail" pk=complaint.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock body_block %}
